# Referenced From 'https://github.com/github/gitignore/blob/master/Python.gitignore'
# I will add to this as necessary .
# I just don't want a giant file I don't know anything about .

# Python
__pycache__/

# VS Code
.vscode/

# API Token
SquatchBot/SquatchOS/state/token

# Logs
SquatchBot/SquatchOS/state/log
SquatchBot/SquatchOS/state/stderr
SquatchBot/SquatchOS/state/stdout

# Configuration
SquatchBot/SquatchOS/state/bot

# Bots
SquatchBot/bots/*/
SquatchBot/bots/*.pyz
